nonoGrama/Service References/ServiceReferenceNanoGrama/NonoGramaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1219/NonoGramaService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1219/NonoGramaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NonoGramaWS" />
  <xs:element name="createNonoGrama">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
        <xs:element minOccurs="0" name="m" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q1:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNonoGramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NonoGramaWS" minOccurs="0" name="createNonoGramaResult" nillable="true" type="q2:DiscreteTomography" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>