nonoGrama/Service References/ServiceReferenceNanoGrama/NonoGramaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NonoGramaWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NonoGramaWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1219/NonoGramaService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DiscreteTomography">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q1:ArrayOfArrayOfint" />
      <xs:element minOccurs="0" name="Error_Coord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Values" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Rows" nillable="true" type="q2:ArrayOfArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscreteTomography" nillable="true" type="tns:DiscreteTomography" />
</xs:schema>